* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-size: cover;
  font-family: sans-serif;
}
/* Header*/
/* Header*/

.custom-Header {
  z-index: 10000;
  width: 100%;
}

.Navbar {
  background-color: #fff;
  width: 100%;
  height: 55px;
  display: flex;
}
.Navbar ul {
  flex: 50%;
  justify-content: flex-end;
  padding-right: 20px;
  display: inline-flex;
  color: #000;
}
.Navbar ul li {
  width: 110px;
  margin: 10px;
  padding: 15px;
  list-style: none;
  padding: 5px;
}
.Navbar ul li a {
  margin-left: 10px;
  text-decoration: none;
  color: rgb(85, 82, 82);
  font-size: 15px;
}
.Navbar ul li a:hover {
  margin-left: 10px;
  text-decoration: none;
  color: #000;
  font-size: 15px;
}
.Navbar ul li i {
  margin-left: 70px;
  color: #000;
}
.sub-menu {
  display: none;
}
.Navbar ul li:hover .sub-menu {
  background-color: #fff;
  display: block;
  position: absolute;
  margin-top: 5px;
  margin-left: -20px;
}

.Navbar ul li:hover .sub-menu ul {
  display: block;
  padding-top: 2%;
  margin: 5px;
}
.Navbar ul li:hover .sub-menu ul li {
  width: 180px;
  padding: 3px;
  /* border-bottom: 1px dotted #000; */
  background: transparent;
  border-radius: 0;
  text-align: left;
  font-size: 12px;
}
.Navbar ul li:hover .sub-menu ul li:hover {
  width: 180px;
  padding: 3px;
  /* border-bottom: 1px dotted #000; */
  border-radius: 0;
  text-align: left;
  font-size: 12px;
}
.Navbar ul li:hover .sub-menu ul li a {
  font-size: 13px;
}

.Navbar ul li:hover .sub-menu ul li a:hover {
  color: #000;
  font-size: 13px;
}
.active,
.Navbar ul li:hover {
  border-radius: 3px;
}

.menu-bar {
  background: #fff;
  text-align: center;
}
.menu-bar .img_icon {
  height: 60px;
  width: 70px;
  margin: 10px 10px 10px 10px;
  position: relative;
  left: -320px;
}
.menu-bar ul {
  padding-left: 25%;
  display: inline-flex;
  list-style: none;
  color: #000;
}
.menu-bar ul li {
  width: 130px;
  margin: 15px;
  padding: 10px;
  padding-left: 50px;
}
.menu-bar ul li a {
  margin-left: -10px;
  text-decoration: none;
  color: rgb(85, 82, 82);
  font-size: 15px;
}
.active,
.menu-bar ul li a:hover {
  color: #000;
  border-radius: 5px;
}
.menu-bar .fa {
  margin-right: 8px;
}
.sub-menu-1 {
  display: none;
}
.menu-bar ul li:hover .sub-menu-1 {
  margin-top: 5px;
  background: #fff;
  width: 300px;
  display: block;
  position: absolute;

  margin-left: -120px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
  display: block;
  margin: 3px;
}
.menu-bar ul li:hover .sub-menu-1 ul li {
  margin: 8px 0;
  text-align: left;
  width: 260px;
  height: 30px;
  margin-left: -32%;
  padding: 1px;
  /* border-bottom: 1px dotted #000; */
  background: transparent;
  border-radius: 0;
}
.menu-bar ul li:hover .sub-menu-1 ul li:hover {
  text-align: left;
  width: 260px;
  height: 30px;
  margin-left: -32%;
  padding: 3px;
  /* border-bottom: 1px dotted #000; */
  background: rgb(248, 245, 245);
  border-radius: 0;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
  border-bottom: none;
}
.menu-bar ul li .sub-menu-1 ul li a {
  margin-left: 2%;
  font-size: 13px;
  color: rgb(85, 82, 82);
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
  color: #000;
  font-size: 13px;
}
.sub-menu-2 {
  display: none;
}
.hover-me:hover .sub-menu-2 {
  position: absolute;
  display: block;
  margin-top: -30px;
  margin-left: -270px;
  background: #fff;
}

/* For Boxes */
.content-list {
  padding: 3em;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 0px;
}
.content-box:nth-child(odd) {
  padding: 10px;
  max-width: 100%;
  width: 100%;
  height: 350px;
  background: rgba(167, 175, 175, 0.2);
  box-shadow: 0px 0px 0px 0px;
  border-radius: 1px;
  position: relative;
}
.content-box:nth-child(even) {
  padding: 10px;
  max-width: 100%;
  width: 100%;
  height: 350px;
  background: rgba(167, 175, 175, 0.2);
  box-shadow: 0px 0px 0px 0px;
  border-radius: 1px;
  position: relative;
  outline: 0px;
  border: none;
}

.content-box2 {
  padding: 10px;
  max-width: 100%;
  margin-left: 10px;
  width: 100%;
  height: 350px;
  background: rgba(167, 175, 175, 0.2);
  box-shadow: 0px 0px 0px 0px;
  border-radius: 1px;
  position: relative;
  outline: 0px;
  border: none;
}

.content-box3 {
  padding: 10px;
  max-width: 100%;
  margin-left: 20px;
  width: 100%;
  height: 350px;
  background: rgba(167, 175, 175, 0.2);
  box-shadow: 0px 0px 0px 0px;
  border-radius: 1px;
  position: relative;
  outline: 0px;
  border: none;
}

.content-box:nth-child(odd) a {
  text-decoration: none;
  color: black;
}
.content {
  max-height: 100px;
  max-width: 350px;
}
.content-img {
  text-align: center;
  height: 95%;
  width: 95%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}
.content-button {
  padding: 10px;
  text-align: center;
}
.content-box h3 {
  margin: 10px;
  font-size: 15px;
  font-family: sans-serif;
}
.content-box a {
  text-decoration: none;
  margin-top: 1em;
  padding-top: 15px;
  font-size: 16px;
  margin-top: 10px;
  font-family: sans-serif;
  color: blue;
}
.content-text {
  margin-top: 1em;
  padding-top: 15px;
  font-size: 16px;
  margin-top: 10px;
  font-family: sans-serif;
}
.content-box p {
  text-decoration: none;
  margin-top: 1em;
  padding-top: 10px;
  font-size: 16px;
  margin-top: 5px;
  font-family: sans-serif;
}
.button-shape {
  padding: 5px 10px;
  border: none;
  width: 100px;
  border-radius: 15px;
  background: rgb(33, 13, 218);
  box-shadow: 1px 1px 1px rgba(4, 30, 66);
  font-size: 18px;
  transform: 2s;
  outline: none;
  color: white;
}
.button-shape:hover {
  cursor: pointer;
  background: rgb(130, 123, 211);
  color: #000;
}

/* Old Slider - Radio Button/No Navigation Arrows*/

.container {
  width: 50%;
  margin: auto;
  font-weight: normal;
  font-style: italic;
  background-color: #f9fceb;
}

.row {
  margin-top: 10px;
  padding-top: auto;
}

.col {
  background-position: center right;
}

.required {
  color: red;
}

.slider {
  width: 100%;
  height: 500px;

  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 1400px;
  height: 500px;
}

.navigation-manual {
  /* position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center; */
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
  padding-left: 35%;
}

.manual-btn {
  border: 2px solid darkblue;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 15px;
}

.manual-btn:hover {
  background: skyblue;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
  padding-left: 35%;
}

.navigation-auto div {
  border: 2px solid darkblue;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 15px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: skyblue;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: skyblue;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: skyblue;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: skyblue;
}

/* Paragragh  */

.paragraph h2 {
  font-size: 25px;
  font-weight: bold;
  color: rgb(17, 17, 99);
  margin-top: 20px;
  padding-left: 20px;
}
.paragraph h3 {
  font-size: 22px;
  font-weight: bold;
  color: rgb(20, 129, 172);
  margin-top: 15px;
  padding-left: 20px;
}
.paragraph p {
  font-size: 16px;
  color: #000;
  margin-top: 20px;
  padding-left: 20px;
  font-family: sans-serif;
  text-align: justify;
}

.chevron_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: auto;
  top: 600px;
}

.chevron_container {
  position: relative;
  width: 24px;
  height: 24px;
}
.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0.25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

/*
New Footer CSS
*/

* {
  padding: 0;
  margin: 0;
}

html {
  background-color: white;
}

body {
  font: 16px/1.6 Arial, sans-serif;
}

header {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 190px;
}

header h1 {
  font: normal 32px/1.5 "Open Sans", sans-serif;
  color: #3f71ae;
  padding-bottom: 16px;
}

header h2 {
  color: #f05283;
}

header span {
  color: #3f71ea;
}

/* The footer is fixed to the bottom of the page */

footer {
  position: fixed;
  bottom: 0;
}

@media (max-height: 800px) {
  footer {
    position: static;
  }
  header {
    padding-top: 40px;
  }
}

.footer-distributed {
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  text-align: center;
  font: bold 16px sans-serif;
  padding: none;
  margin-top: 500px;
  padding-top: 1%;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 30%;

  text-align: left;
}

.footer-distributed h3 {
  color: #154360;
  font: normal 36px "Cookie", cursive;
  margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img {
  width: 30%;
}

.footer-distributed h3 span {
  color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #154360;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #154360;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 32%;

  text-align: left;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #154360;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #154360;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #e0ac1c;
  text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 30%;
  text-align: left;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #154360;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #154360;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */

@media (max-width: 880px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
/*
Contact US CSS 
*/

/*Footer - Contact US CSS*/
.container .title {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}
.container form .user-details {
  display: flex;
  font-size: 12px;
  font-family: sans-serif;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 5px);
}
.user-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box .details i {
  color: red;
  font-size: 15px;
}

.user-details .input-box input {
  height: 30px;
  width: 80%;
  outline: none;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

form .user-details .input-box .select-box {
  margin-bottom: 15px;
  width: 80%;
  height: 60%;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: rgb(65, 62, 62);
}
form .user-details .input-box-two {
  margin-bottom: 15px;
  width: calc(150% / 2 - 5px);
}
.user-details .input-box-two .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box-two input {
  height: 60px;
  width: 130%;
  outline: none;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box-two input:focus {
  border-color: #9b59b9;
}

.input-name {
  font-size: 12px;
  font-family: sans-serif;
  padding-left: 20%;
}
.input-name a {
  text-decoration: none;
  color: rgb(25, 173, 231);
}
.button {
  background-color: rgb(28, 28, 141);
  height: 35px;
  position: absolute;
  left: 45%;
  width: 10%;
  outline: none;
  color: #fff;
  font-size: 13px;
}
.button:hover {
  background-color: rgb(25, 173, 231);
  cursor: pointer;
}
.button:focus {
  background-color: #f8c22e;
}
